@import "../../../styles/variables.scss";

.headerContainer {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  z-index: 10000;
  box-sizing: border-box;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 1.6em;
  font-weight: 700;
}

.rotate svg {
  transform: rotate(180deg) !important;
  transition: all 0.2s ease;
}
.lang {
  display: flex;
  align-items: center;
  color: #c4c4c4;
  user-select: none;
  cursor: pointer;

  span {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 8px 0 16px;
  }
  svg {
    color: #c4c4c4;
    transform: rotate(0);
    transition: all 0.2s ease;
  }
}

.flag {
  width: 56px;
  height: 40px;
  border-radius: 5px;
}

.rightHeader {
  width: clamp(350px, 25%, 500px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}

.donate {
  font-weight: 700;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}

.change {
  .hamburgerLine:first-child {
    transform: translateY(14px) rotate(-45deg) !important;
    transition: all 0.3s ease;
  }
  .hamburgerLine:nth-child(2n) {
    opacity: 0% !important;
    transition: all 0.3s ease;
  }
  .hamburgerLine:last-child {
    transform: translateY(-14px) rotate(45deg) !important;
    transition: all 0.3s ease;
  }
}

.hamburger {
  width: 40px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  .hamburgerLine {
    width: 100%;
    height: 4px;
    border-radius: 100px;
    background-color: #233e5c;
    opacity: 100%;
    transition: all 0.3 ease;
  }
}

.navHeader {
  position: absolute;
  box-sizing: border-box;
  padding-top: 80px;
  right: 0;
  top: 0;
  z-index: 60;
  background-color: white;
  height: 100vh;
  width: 300px;
  padding: 80px 24px;
  box-sizing: border-box;
  transform: translateX(100%);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.navHeader.isShown {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  width: 100%;
  padding: 32px 0;
  a {
    text-decoration: none;
  }

  span {
    padding: 0;
  }
}

.Languages {
  position: absolute;
  box-sizing: border-box;
  margin-right: 125px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  right: 0;
  top: 0;
  z-index: 60;
  background-color: white;
  height: 180px;
  width: 140px;
  transform: translateY(-100%);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  border-radius: 16px;
}

.Languages.isShown1 {
  transform: translateY(0);
  transition: all 0.5 ease;
  margin-top: 100px;
}

.choiceLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4c4c4;

  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.choiceLanguage:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: #ffcb1f;
  color: white;
  transition: all ease-out 0.1s;
}
.choiceLanguage span {
  padding-left: 15px;
  font-weight: 600;
}
