@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.Menu {
  position: absolute;
  box-sizing: border-box;
  top: 80;
  right: 0;
  z-index: 10;
  background-color: white;
  height: calc(100vh - 80px);
  width: 300px;
  animation: transitionIn 0.75s;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Menu::-webkit-scrollbar {
  width: 10px;
  background-color: #ddd;
  border-left: solid 2px #ddd;
  border-right: solid 2px #ddd;
}
.Menu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-left: solid 2px #ddd;
  border-right: solid 2px #ddd;
  border-radius: 10px;
}

.MenuTitle {
  display: flex;
  padding: 25px 0 0 20px;
}

.SectionTitle {
  padding: 20px 0 20px 20px;
}

.BorderScroll {
  width: 270px;
  height: auto;
  padding-right: 10px;
  padding-left: 20px;
}

.formeAffiche {
  width: 75px;
  height: 100px;
  background-color: black;
  border-radius: 5px;
}
.TendancesAffiche {
  display: flex;
  column-gap: 24px;
}
