
  
  @import "../../styles/variables.scss";
  
  .Home {
    display: flex;
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
  width: 100%;
}

.map {
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 1;

}

@keyframes transitiontest {
  from { 
      background-color: rgba($color: #ffffff, $alpha: 0);
  }
  to { 
      background-color: rgba($color: #ffffff, $alpha: 0.7);
  }
}

.background{
  animation: transitiontest 0.5s ;
  width: 100%;

  inset: 0 0 0 0 ;
  z-index: 1000;
  position: absolute;
  margin: 0;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  height: 100%;
  overflow-y: scroll ;
  padding-bottom: 80px;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  
}

.containerPlace{
  width: 60%;
  padding-bottom: 80px;
}

<<<<<<< HEAD
=======
.mainContent {
  position: relative;
  width: 100%;
}

.message {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.25rem;
}

.spinner {
  width: clamp(56px, 7.5%, 160px);
  aspect-ratio: 1;
  color: $accent-400;
  animation: spinner 1s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
>>>>>>> upstream/main
