

.EspacePro{
    display: flex;

}
span{
    padding: 10px;
}

h4{
    margin-bottom: 5px;
}
h3{
    margin-bottom: 20px;
}
.component{
    width: 30%;
    height: calc(100vh - 80px);
    background-color: white;
    position: relative;
    z-index: 100;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: .2);
}

.container{
    width: 70%;
    background-color: white;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
}
.content{
    padding: 50px 100px;
    
}
h1{
    font-size: 4rem;
}
img{
    object-fit: contain;
}
.preview{
    width: 45%;
    
    display: flex;
    justify-content: center;
    
}
.photo{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 500px;
    justify-content: space-between;
}

.input {
    width: 500px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    background-color: white;
  
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 0;
    color: #4f76a1;
    box-shadow: 0 6px 32px rgba($color: #334354, $alpha: 0.3);
    outline: 0;
  }
  .inputlink {
    width: 450px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    background-color: white;
  
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 0;
    color: #4f76a1;
    box-shadow: 0 6px 32px rgba($color: #334354, $alpha: 0.3);
    outline: 0;
  }
  .inputdate {
    width: 200px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    background-color: white;
  
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 0;
    color: #4f76a1;
    box-shadow: 0 6px 32px rgba($color: #334354, $alpha: 0.3);
    outline: 0;
  }

  .inputDesc {
    width: 500px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 100px;
    background-color: white;
    resize: none;
  
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 0;
    color: #4f76a1;
    box-shadow: 0 6px 32px rgba($color: #334354, $alpha: 0.3);
    outline: 0;
  }


.dropzone{
    width : 55%;
    box-shadow: 0 6px 32px rgba($color: #334354, $alpha: 0.3);
    border-radius: 10px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;



}

  .labelfile {
    cursor: pointer;
    border-radius: 10px;
    color: #4f76a1;
    font-weight: bold;
}
.labelfile:hover {
    color: #25a5c4;
}

// et on masque le input
.inputfile {
    display: none;
}

.dates{
    padding: 0 50px;
}