@import "../../Structure.module.scss";

.eventList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.event {
  width: 128px;
  height: 188px;
  background-color: $primary-900;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}
